<ng-container
  [ngTemplateOutlet]="menuListTpl"
  [ngTemplateOutletContext]="{menuList: menu$ | async, parentRoute: [], level: 0}" />

<ng-template #menuListTpl
  let-menuList="menuList" let-parentRoute="parentRoute" let-level="level">
  <ul navAccordion class="matero-sidemenu level-{{level}}" [class.submenu]="level>0"
    >
    @for (menuItem of menuList; track menuItem) {
      <ng-template
        [ngxPermissionsOnly]="menuItem.permissions?.only"
        [ngxPermissionsExcept]="menuItem.permissions?.except">
        <li #navItem="navAccordionItem" navAccordionItem class="menu-item"
          routerLinkActive="active" [route]="menuItem.route" [type]="menuItem.type">
          @if (menuItem.type==='link') {
            <a class="menu-heading"
              [routerLink]="buildRoute(parentRoute.concat([menuItem.route]))"
              matRipple [matRippleDisabled]="!ripple">
              <ng-container
                [ngTemplateOutlet]="linkTypeTpl"
                [ngTemplateOutletContext]="{item: menuItem, level: level}" />
            </a>
          }
          @if (menuItem.type==='extLink') {
            <a class="menu-heading" [href]="menuItem.route"
              matRipple [matRippleDisabled]="!ripple">
              <ng-container
                [ngTemplateOutlet]="linkTypeTpl"
                [ngTemplateOutletContext]="{item: menuItem, level: level}" />
            </a>
          }
          @if (menuItem.type==='extTabLink') {
            <a class="menu-heading" [href]="menuItem.route" target="_blank"
              matRipple [matRippleDisabled]="!ripple">
              <ng-container
                [ngTemplateOutlet]="linkTypeTpl"
                [ngTemplateOutletContext]="{item: menuItem, level: level}" />
            </a>
          }
          @if (menuItem.type==='sub') {
            <button navAccordionToggle class="menu-heading menu-toggle"
              matRipple [matRippleDisabled]="!ripple">
              <ng-container
                [ngTemplateOutlet]="linkTypeTpl"
                [ngTemplateOutletContext]="{item: menuItem, level: level}" />
            </button>

            <ng-container
              [ngTemplateOutlet]="menuListTpl"
              [ngTemplateOutletContext]="{
                menuList: menuItem.children,
                parentRoute: parentRoute.concat([menuItem.route]),
                level: level + 1,
                expanded: true
              }" />
              <!-- <section>

                <button mat-button [matMenuTriggerFor]="vertebrates">Animal index</button>

                <mat-menu #vertebrates="matMenu">
                  <button mat-menu-item >Fishes</button>
                  <button mat-menu-item>Amphibians</button>
                  <button mat-menu-item>Reptiles</button>
                  <button mat-menu-item>Birds</button>
                  <button mat-menu-item>Mammals</button>
                </mat-menu>


              </section> -->
          }
        </li>
      </ng-template>
    }
  </ul>
</ng-template>

<ng-template #linkTypeTpl let-item="item" let-level="level">
  @if(showMenu===1 && item.type!=='sub')
  {
    <img [src]="item.icon4" alt=""/>
  } @else if(showMenu===2 && item.type!=='sub')
  {
    <img [src]="item.icon5" alt=""/>
  }@else
  {
    @if (item.icon2 && this.options.theme !=="dark" && item.type!=='sub') {
      <!-- <mat-icon class="menu-icon" [class.submenu-icon]="level>0">{{item.icon}}</mat-icon> -->
       <img [src]="item.icon2" alt=""/>
    } @else if(item.icon2 && this.options.theme ==="dark" && item.type!=='sub')
    {
      <img [src]="item.icon3" alt=""/>
    }@else {
      <!-- <span class="menu-icon" [class.submenu-icon]="level>0">{{item.name | translate | slice:0:1}}</span> -->
    }
  }

  <span class="menu-name" [ngClass]="{'lightened': item.type === 'sub'}">{{item.name | translate}}</span>
  @if (item.label) {
    <span class="menu-label bg-{{item.label.color}}">{{item.label.value}}</span>
  }
  @if (item.badge) {
    <span class="menu-badge bg-{{item.badge.color}}">{{item.badge.value}}</span>
  }
  @if (item.type!=='link') {
    <!-- <mat-icon class="menu-caret">{{item.type==='sub' ? 'arrow_drop_down' : 'arrow_drop_down'}}</mat-icon> -->
  }
</ng-template>
